<div class="jumbotron">
  <h2 class="center">Dashboard</h2>
  <h4 class="center">Welcome <%=@user.email%></h4>
</div>

  <%= render 'tank_section' %>
  <%= render 'sensor_section'%>

<div class="row">

  <div class="col-sm-12">
    <h3>Readings</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Sensor</th>
          <th scope="col">Tank</th>
          <th scope="col">Value</th>
          <th scope="col">Date</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

<%= render 'tank_modal' %>
<%= render 'sensor_modal'%>
