<div class="jumbotron">
  <h2 class="center">Dashboard</h2>
  <h4 class="center">Welcome <%=@user.email%></h4>
</div>

<%= render 'tank_section' %>
<%= render 'sensor_section'%>
<%= render 'reading_section'%>

<%= render 'tank_modal' %>
<%= render 'sensor_modal'%>
<%= render 'reading_modal'%>
