<%tab "dashboard"%>

<h4><%=@tank.name%></h4>

<%= render 'device_section'%>
<%= render 'sensor_section'%>
<%= render 'reading_section'%>

<%= render 'device_modal'%>
<%= render 'sensor_modal'%>
<%= render 'reading_modal'%>
