<%= form_for(reading, url: user_tank_reading_path(@user), remote: true) do |form| %>
  <% if reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-header">
    <h5 class="modal-title">Edit Reading</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="form-group row">
      <%= form.label :value, "Value", class: "col-sm-4 control-lable" %>
      <div class="col-sm-8">
        <div class="input-group">
          <%= form.number_field :value, id: :reading_value, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :sensor, "Sensor", class: "col-sm-4 control-lable" %>
      <div class="col-sm-8">
        <div class="input-group">
          <%= form.collection_select :sensor_id, @user.sensors, :id, :name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :tank_id, "Tank", class: "col-sm-4 control-lable" %>
      <div class="col-sm-8">
        <div class="input-group">
          <%= form.collection_select :tank_id, @user.tanks, :id, :name, class: "form-control" %>
        </div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save</button>
  </div>

<% end %>
