<div class="accordion" id="accordion-<%=reading.id%>">
  <div class="card">
    <div class="card-header btn btn-link"" id="heading-<%=reading.id%>" data-toggle="collapse" data-target="#collapse-<%=reading.id%>" aria-expanded="false" aria-controls="collapse-<%=reading.id%>">
      <h6 class="mb-2">
          <i class="fa fa-heartbeat" aria-hidden="true"></i>
          <%=reading.sensor.name%>
          &nbsp;
          <i class="fa fa-calendar" aria-hidden="true"></i>
          <%=reading.date.in_time_zone(@user.time_zone).strftime('%m/%d/%Y')%>         
      </h6>
    </div>
    <div id="collapse-<%=reading.id%>" class="collapse" aria-labelledby="heading-<%=reading.id%>" data-parent="#accordion-<%=reading.id%>">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <tr>
                <th>Reading Value</th>
                <th>Date</th>
                <th>Sensor</th>          
              </tr>
            </thead>
            <tbody id="user-sensors-table-tbody">
               <%# Delegate to a new partial collection %>
               <%if !reading.data.empty?%>
                <%reading.data["readings"].each do |data| %>
                  <% if data["reading"].to_i <= reading.sensor.low_value || data["reading"].to_i >= reading.sensor.high_value %>
                  <tr id="reading-<%= reading.id %>" class="table-danger">
                  <%elsif data["reading"].to_i == reading.sensor.goal_value%>
                  <tr id="reading-<%= reading.id %>" class="table-success">
                  <%else%>
                    <tr id="reading-<%= reading.id %>">
                  <%end%>
                    <td><%=data["reading"]%></td>                    
                    <td class="reading-date"><%= data["time"].to_datetime.in_time_zone(@user.time_zone).strftime(('%m/%d/%Y %I:%M%p'))%></td>
                    <td class="reading-sensor"><%=reading.sensor.name%></td>
                  </tr>
                <%end%>
              <%end%>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>