<tr id="device-<%= device.id %>">
  <td class="device-name"><%= device.name%></td>
  <td class="device-description"><%= device.description%></td>
  <td class="device-tank"><%= device.tank.name %></td>
  <td class="device-post_url"><%= device.post_url %></td>
  <%puts @pi_devices %>
  <%puts "THIS IS THEM" %>
  <td><%if @pi_devices.any? {|h| h['device'] == device.identifier && h['status'] == false}%>
        <%= link_to 'Turn On', user_tank_device_turn_on_device_path(@user, device.tank, device), remote: true, class:"btn btn-primary"%>
      <%else%>
        <%= link_to 'Turn Off', user_tank_device_turn_off_device_path(@user, device.tank, device), remote: true, class:"btn btn-primary"%>
      <%end%>
  </td>
</tr>
