<div class="jumbotron">  
  <div class="form-horizontal">
    <h2 class="center">Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label :email, class: "control-label" %><br />
        </div>
        <div class="col-sm-6">
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-4">
          <%= f.label :password %><br />
        </div>
        <div class="col-sm-6">
          <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group row">
          <div class="col-sm-4">
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
        </div>
      </div>
      <% end -%>
      
        <div class="float-right">
          <%= f.submit "Log in", class:"btn btn-primary"%>
        </div>
        <% end %>
        <div class="col-sm-6 right">
          <div class="form-group">
            <div class="right">
              <%= link_to "Sign Up", users_1_new_path() %><br />
              <%= link_to "Forgot Password", new_user_password_path(:user) %><br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
