<h1><%=@sensor.name%></h1>
<div id="user-readings">
  <p id="notice"><%= notice %></p>
  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title"> Readings </h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <tr>
                    <th>Value</th>
                    <th>Goal Value</th>
                    <th>Sensor</th>
                    <th>Date</th>
                    <th><%=link_to(new_user_tank_reading_path(@user, @sensor.tank), class: "btn btn-primary btn-sm", remote: true) do %>
                          <i class="fa fa-plus"></i> Add New
                        <%end%>
                    </th>
                  </tr>
                </thead>
                <tbody id="user-readings-table-tbody">
                  <%@readings.each do |reading|%>
                    <% if reading.value <= reading.sensor.low_value || reading.value >= reading.sensor.high_value %>
                    <tr id="reading-<%= reading.id %>" class="table-danger">
                    <%elsif reading.value == reading.sensor.goal_value%>
                    <tr id="reading-<%= reading.id %>" class="table-success">
                    <%else%>
                      <tr id="reading-<%= reading.id %>">
                    <%end%>
                      <td class="reading-value"><%= reading.value%></td>
                      <td class="reading-sensor_goal_value"><%= reading.sensor.goal_value %></td>
                      <td class="reading-sensor"><%= link_to(reading.sensor.name, user_tank_sensor_path(@user, reading.tank, reading.sensor))%></td>
                      <td class="reading-date"><%= reading.created_at %></td>
                      <td>
                        <%=link_to(edit_user_tank_reading_path(@user,reading.tank,reading), class: "btn btn-primary btn-sm", remote: true) do %>
                          <i class="fa fa-pencil"></i>
                        <%end%>

                        <%=link_to(user_tank_reading_path(@user,reading.tank,reading), method: :delete, remote: true, data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm") do %>
                            <i class="fa fa-trash"></i>
                        <%end%>
                      </td>
                    </tr>
                  <%end%>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<%= render 'reading_modal'%>

<%=paginate @readings%>
