<!DOCTYPE html>
<html>
  <head>
    <title>ReefMonitor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
    </div>

  </body>
  <%= content_for :render_async %>
  <%= render 'layouts/footer'%>
</html>
