<!DOCTYPE html>
<html>
  <head>
    <title>ReefMonitor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="<%= asset_url("fish_icon.png") %>">
  </head>

  <body>
      <div class="container">
        <%= yield %>
      </div>
  </body>
  <%= content_for :render_async %>
</html>
